body {
  background-color: #000000ce;
}
.main-header {
  width: 1150px;
  margin: 45px auto;
  border: 4px solid #dbdbdb;
  padding: 15px;
  background-color: #e72c2c;
  color: #212121;
  text-align: center;
  font-size: 40px;
  font-family: "raleway" sans-serif;
}
.post {
  width: 1000px;
  text-align: center;
  font-size: 19px;
  margin: 35px auto;
  padding: 5px;
  color: #212121;
  background-color: #e72c2c;
  border: 4px solid #dbdbdb;
  font-size: 25px;
}
.img {
  width: 315px;
  height: 195px;
}
.img-two {
  width: 200px;
  height: 195px;
}
